.navbar{
    min-height: 56px;
    background-color: #f8a5c2;
    display: flex;
    justify-content: space-between;
}

.navbar__menus{
    display: flex;
    align-items: center;
}

.navbar__menu{
    margin-left: 16px;
    margin-right: 16px;
    height: 32px;
    min-width: 48px;
    text-decoration: none;
    color: white;
}